
*.o
*.json
*.TAG
os/target/debug/.cargo-lock
os/target/debug/.fingerprint/os-c4e64d229733e3a7/bin-os
os/target/debug/.fingerprint/os-c4e64d229733e3a7/dep-bin-os
os/target/debug/deps/os-c4e64d229733e3a7
os/target/debug/incremental/os-2cuy097a4tjk2/s-gqncy7fjzn-1ryj9xn-3rlallyxoqu9h/dep-graph.bin
os/target/debug/deps/os-c4e64d229733e3a7.d

*.lock
os/target/debug/os
*.d
os/target/riscv64gc-unknown-none-elf/debug/.cargo-lock
os/target/riscv64gc-unknown-none-elf/debug/.fingerprint/os-c64002147260573f/bin-os
os/target/riscv64gc-unknown-none-elf/debug/.fingerprint/os-c64002147260573f/dep-bin-os
*.timestamp
os/target/riscv64gc-unknown-none-elf/debug/deps/os-c64002147260573f
os/target/riscv64gc-unknown-none-elf/debug/os


os/target/release/.cargo-lock
os/target/riscv64gc-unknown-none-elf/release/.cargo-lock
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/os-abd48ba8381d02f4/bin-os
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/os-abd48ba8381d02f4/dep-bin-os
os/target/riscv64gc-unknown-none-elf/release/deps/os-abd48ba8381d02f4
os/target/riscv64gc-unknown-none-elf/release/os
os/target/debug/incremental/os-2cuy097a4tjk2/s-gqncy7fjzn-1ryj9xn-3rlallyxoqu9h/query-cache.bin
os/target/debug/incremental/os-2cuy097a4tjk2/s-gqncy7fjzn-1ryj9xn-3rlallyxoqu9h/work-products.bin
os/target/riscv64gc-unknown-none-elf/debug/incremental/os-2zb4w3jqb3kq9/s-gqneaocenv-vih1dd-1wqpaeh4z66uf/dep-graph.bin
os/target/riscv64gc-unknown-none-elf/debug/incremental/os-2zb4w3jqb3kq9/s-gqneaocenv-vih1dd-1wqpaeh4z66uf/query-cache.bin
os/target/riscv64gc-unknown-none-elf/debug/incremental/os-2zb4w3jqb3kq9/s-gqneaocenv-vih1dd-1wqpaeh4z66uf/work-products.bin
os/target/riscv64gc-unknown-none-elf/release/os.bin
os/target/release/.fingerprint/aho-corasick-d60979811b9186ea/dep-lib-aho_corasick
os/target/release/.fingerprint/aho-corasick-d60979811b9186ea/lib-aho_corasick
os/target/release/.fingerprint/bare-metal-3bbd8fff164b7851/build-script-build-script-build
os/target/release/.fingerprint/bare-metal-3bbd8fff164b7851/dep-build-script-build-script-build
os/target/release/.fingerprint/lazy_static-ff8a798fbcd65c12/dep-lib-lazy_static
os/target/release/.fingerprint/lazy_static-ff8a798fbcd65c12/lib-lazy_static
os/target/release/.fingerprint/memchr-6e1196f67b3722f5/dep-lib-memchr
os/target/release/.fingerprint/memchr-6e1196f67b3722f5/lib-memchr
os/target/release/.fingerprint/os-59214f74ed5d2f61/build-script-build-script-build
os/target/release/.fingerprint/os-59214f74ed5d2f61/dep-build-script-build-script-build
os/target/release/.fingerprint/regex-9a9cc703b204af64/dep-lib-regex
os/target/release/.fingerprint/regex-9a9cc703b204af64/lib-regex
os/target/release/.fingerprint/regex-automata-f8972793f460d7eb/dep-lib-regex-automata
os/target/release/.fingerprint/regex-automata-f8972793f460d7eb/lib-regex-automata
os/target/release/.fingerprint/regex-syntax-82181a65ef0c9e5e/dep-lib-regex-syntax
os/target/release/.fingerprint/regex-syntax-82181a65ef0c9e5e/lib-regex-syntax
os/target/release/.fingerprint/riscv-1f4d77b3cfcf2ddb/build-script-build-script-build
os/target/release/.fingerprint/riscv-1f4d77b3cfcf2ddb/dep-build-script-build-script-build
os/target/release/.fingerprint/riscv-target-2b3325df9e9cf375/dep-lib-riscv-target
os/target/release/.fingerprint/riscv-target-2b3325df9e9cf375/lib-riscv-target
os/target/release/.fingerprint/rustc_version-38fb9d2d620f439f/dep-lib-rustc_version
os/target/release/.fingerprint/rustc_version-38fb9d2d620f439f/lib-rustc_version
os/target/release/.fingerprint/semver-01838cd50049c885/dep-lib-semver
os/target/release/.fingerprint/semver-01838cd50049c885/lib-semver
os/target/release/.fingerprint/semver-parser-66c4dbff728cc71a/dep-lib-semver-parser
os/target/release/.fingerprint/semver-parser-66c4dbff728cc71a/lib-semver-parser
os/target/release/build/bare-metal-3bbd8fff164b7851/build-script-build
os/target/release/build/bare-metal-3bbd8fff164b7851/build_script_build-3bbd8fff164b7851
os/target/release/build/os-59214f74ed5d2f61/build-script-build
os/target/release/build/os-59214f74ed5d2f61/build_script_build-59214f74ed5d2f61
os/target/release/build/riscv-1f4d77b3cfcf2ddb/build-script-build
os/target/release/build/riscv-1f4d77b3cfcf2ddb/build_script_build-1f4d77b3cfcf2ddb
os/target/release/deps/libaho_corasick-d60979811b9186ea.rlib
os/target/release/deps/libaho_corasick-d60979811b9186ea.rmeta
os/target/release/deps/liblazy_static-ff8a798fbcd65c12.rlib
os/target/release/deps/liblazy_static-ff8a798fbcd65c12.rmeta
os/target/release/deps/libmemchr-6e1196f67b3722f5.rlib
os/target/release/deps/libmemchr-6e1196f67b3722f5.rmeta
os/target/release/deps/libregex-9a9cc703b204af64.rlib
os/target/release/deps/libregex-9a9cc703b204af64.rmeta
os/target/release/deps/libregex_automata-f8972793f460d7eb.rlib
os/target/release/deps/libregex_automata-f8972793f460d7eb.rmeta
os/target/release/deps/libregex_syntax-82181a65ef0c9e5e.rlib
os/target/release/deps/libregex_syntax-82181a65ef0c9e5e.rmeta
os/target/release/deps/libriscv_target-2b3325df9e9cf375.rlib
os/target/release/deps/libriscv_target-2b3325df9e9cf375.rmeta
os/target/release/deps/librustc_version-38fb9d2d620f439f.rlib
os/target/release/deps/librustc_version-38fb9d2d620f439f.rmeta
os/target/release/deps/libsemver-01838cd50049c885.rlib
os/target/release/deps/libsemver-01838cd50049c885.rmeta
os/target/release/deps/libsemver_parser-66c4dbff728cc71a.rlib
os/target/release/deps/libsemver_parser-66c4dbff728cc71a.rmeta
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/bare-metal-be7a079a1656b0ba/run-build-script-build-script-build
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/bare-metal-f4bbbdc96ee4a73a/dep-lib-bare-metal
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/bare-metal-f4bbbdc96ee4a73a/lib-bare-metal
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/bit_field-19f8442a53e4069d/dep-lib-bit_field
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/bit_field-19f8442a53e4069d/lib-bit_field
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/bitflags-635ed774f91c349c/dep-lib-bitflags
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/bitflags-635ed774f91c349c/lib-bitflags
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/lazy_static-1b5f09b3b225311b/dep-lib-lazy_static
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/lazy_static-1b5f09b3b225311b/lib-lazy_static
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/log-95bd905fae50f053/dep-lib-log
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/log-95bd905fae50f053/lib-log
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/os-19ef3e3ba1ecc29e/run-build-script-build-script-build
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/os-a323f5f52e55e29a/bin-os
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/os-a323f5f52e55e29a/dep-bin-os
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/riscv-2d9507b2760b78e2/run-build-script-build-script-build
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/riscv-6f54c4eca3bac30b/dep-lib-riscv
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/riscv-6f54c4eca3bac30b/lib-riscv
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/spin-60d6d507b660deab/dep-lib-spin
os/target/riscv64gc-unknown-none-elf/release/.fingerprint/spin-60d6d507b660deab/lib-spin
os/target/riscv64gc-unknown-none-elf/release/build/bare-metal-be7a079a1656b0ba/output
os/target/riscv64gc-unknown-none-elf/release/build/bare-metal-be7a079a1656b0ba/root-output
os/target/riscv64gc-unknown-none-elf/release/build/bare-metal-be7a079a1656b0ba/stderr
os/target/riscv64gc-unknown-none-elf/release/build/os-19ef3e3ba1ecc29e/output
os/target/riscv64gc-unknown-none-elf/release/build/os-19ef3e3ba1ecc29e/root-output
os/target/riscv64gc-unknown-none-elf/release/build/os-19ef3e3ba1ecc29e/stderr
os/target/riscv64gc-unknown-none-elf/release/build/riscv-2d9507b2760b78e2/output
os/target/riscv64gc-unknown-none-elf/release/build/riscv-2d9507b2760b78e2/root-output
os/target/riscv64gc-unknown-none-elf/release/build/riscv-2d9507b2760b78e2/stderr
os/target/riscv64gc-unknown-none-elf/release/deps/libbare_metal-f4bbbdc96ee4a73a.rlib
os/target/riscv64gc-unknown-none-elf/release/deps/libbare_metal-f4bbbdc96ee4a73a.rmeta
os/target/riscv64gc-unknown-none-elf/release/deps/libbit_field-19f8442a53e4069d.rlib
os/target/riscv64gc-unknown-none-elf/release/deps/libbit_field-19f8442a53e4069d.rmeta
os/target/riscv64gc-unknown-none-elf/release/deps/libbitflags-635ed774f91c349c.rlib
os/target/riscv64gc-unknown-none-elf/release/deps/libbitflags-635ed774f91c349c.rmeta
os/target/riscv64gc-unknown-none-elf/release/deps/liblazy_static-1b5f09b3b225311b.rlib
os/target/riscv64gc-unknown-none-elf/release/deps/liblazy_static-1b5f09b3b225311b.rmeta
os/target/riscv64gc-unknown-none-elf/release/deps/liblog-95bd905fae50f053.rlib
os/target/riscv64gc-unknown-none-elf/release/deps/liblog-95bd905fae50f053.rmeta
os/target/riscv64gc-unknown-none-elf/release/deps/libriscv-6f54c4eca3bac30b.rlib
os/target/riscv64gc-unknown-none-elf/release/deps/libriscv-6f54c4eca3bac30b.rmeta
os/target/riscv64gc-unknown-none-elf/release/deps/libspin-60d6d507b660deab.rlib
os/target/riscv64gc-unknown-none-elf/release/deps/libspin-60d6d507b660deab.rmeta
os/target/riscv64gc-unknown-none-elf/release/deps/os-a323f5f52e55e29a
user/target/debug/.cargo-lock
user/target/release/.cargo-lock
user/target/riscv64gc-unknown-none-elf/debug/.cargo-lock
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-6f42c11feabdf99f/dep-lib-user_lib
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-6f42c11feabdf99f/lib-user_lib
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-8103eacaed3b0604/bin-02power
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-8103eacaed3b0604/dep-bin-02power
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-a4e0505394bd0873/bin-01store_fault
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-a4e0505394bd0873/dep-bin-01store_fault
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-df1281abffb57c0d/bin-00write_a
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-df1281abffb57c0d/dep-bin-00write_a
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-e138ca0909e2b6af/bin-00hello_world
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-e138ca0909e2b6af/dep-bin-00hello_world
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-e734631f802212e9/bin-02write_c
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-e734631f802212e9/dep-bin-02write_c
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-f05df999a0301141/bin-01write_a
user/target/riscv64gc-unknown-none-elf/debug/.fingerprint/user_lib-f05df999a0301141/dep-bin-01write_a
user/target/riscv64gc-unknown-none-elf/debug/00hello_world
user/target/riscv64gc-unknown-none-elf/debug/00write_a
user/target/riscv64gc-unknown-none-elf/debug/01store_fault
user/target/riscv64gc-unknown-none-elf/debug/01write_a
user/target/riscv64gc-unknown-none-elf/debug/02power
user/target/riscv64gc-unknown-none-elf/debug/02write_c
user/target/riscv64gc-unknown-none-elf/debug/deps/00hello_world-e138ca0909e2b6af
user/target/riscv64gc-unknown-none-elf/debug/deps/00write_a-df1281abffb57c0d
user/target/riscv64gc-unknown-none-elf/debug/deps/01store_fault-a4e0505394bd0873
user/target/riscv64gc-unknown-none-elf/debug/deps/01write_a-f05df999a0301141
user/target/riscv64gc-unknown-none-elf/debug/deps/02power-8103eacaed3b0604
user/target/riscv64gc-unknown-none-elf/debug/deps/02write_c-e734631f802212e9
user/target/riscv64gc-unknown-none-elf/debug/deps/libuser_lib-6f42c11feabdf99f.rlib
user/target/riscv64gc-unknown-none-elf/debug/deps/libuser_lib-6f42c11feabdf99f.rmeta
user/target/riscv64gc-unknown-none-elf/debug/incremental/00hello_world-w8g7m67n48cj/s-gr3h4xwe2c-11vxluf-oy3mrv2eg5lu/dep-graph.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/00hello_world-w8g7m67n48cj/s-gr3h4xwe2c-11vxluf-oy3mrv2eg5lu/query-cache.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/00hello_world-w8g7m67n48cj/s-gr3h4xwe2c-11vxluf-oy3mrv2eg5lu/work-products.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/00write_a-3vaqbrduk829y/s-gr3h4xwqay-iny4k5-2l9ky7f1mfxe0/dep-graph.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/00write_a-3vaqbrduk829y/s-gr3h4xwqay-iny4k5-2l9ky7f1mfxe0/query-cache.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/00write_a-3vaqbrduk829y/s-gr3h4xwqay-iny4k5-2l9ky7f1mfxe0/work-products.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/01store_fault-kialxamg7qen/s-gr3h4xw7s9-1m8i1a5-tfz38ci6d176/dep-graph.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/01store_fault-kialxamg7qen/s-gr3h4xw7s9-1m8i1a5-tfz38ci6d176/query-cache.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/01store_fault-kialxamg7qen/s-gr3h4xw7s9-1m8i1a5-tfz38ci6d176/work-products.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/01write_a-2pkg5mgukaxap/s-gr3h4xw7w0-1johq56-3835sk1bewzqs/dep-graph.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/01write_a-2pkg5mgukaxap/s-gr3h4xw7w0-1johq56-3835sk1bewzqs/query-cache.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/01write_a-2pkg5mgukaxap/s-gr3h4xw7w0-1johq56-3835sk1bewzqs/work-products.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/02power-3izyqkdjo1n9f/s-gr3h4xwe0r-uokbdv-257r5dpzr64e6/dep-graph.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/02power-3izyqkdjo1n9f/s-gr3h4xwe0r-uokbdv-257r5dpzr64e6/query-cache.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/02power-3izyqkdjo1n9f/s-gr3h4xwe0r-uokbdv-257r5dpzr64e6/work-products.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/02write_c-1hya2as5k8l17/s-gr3h4xw07c-1axnsow-1wwaf3aqblouq/dep-graph.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/02write_c-1hya2as5k8l17/s-gr3h4xw07c-1axnsow-1wwaf3aqblouq/query-cache.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/02write_c-1hya2as5k8l17/s-gr3h4xw07c-1axnsow-1wwaf3aqblouq/work-products.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/user_lib-29z3xjtnpc2p5/s-gr3h4wfr2l-1gr9vzj-3vllpn2eujyzj/dep-graph.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/user_lib-29z3xjtnpc2p5/s-gr3h4wfr2l-1gr9vzj-3vllpn2eujyzj/query-cache.bin
user/target/riscv64gc-unknown-none-elf/debug/incremental/user_lib-29z3xjtnpc2p5/s-gr3h4wfr2l-1gr9vzj-3vllpn2eujyzj/work-products.bin
user/target/riscv64gc-unknown-none-elf/debug/libuser_lib.rlib
user/target/riscv64gc-unknown-none-elf/release/.cargo-lock
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-06ab02e610527734/bin-00hello_world
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-06ab02e610527734/dep-bin-00hello_world
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-0a54e2d9ff9fddef/bin-00power3
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-0a54e2d9ff9fddef/dep-bin-00power3
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-0a54e2d9ff9fddef/output-bin-00power3
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-13726c21e4a144db/bin-01write_a
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-13726c21e4a144db/dep-bin-01write_a
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-2e75ff72e4575b04/bin-00write_a
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-2e75ff72e4575b04/dep-bin-00write_a
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-642beb1d2d0b879f/bin-02power
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-642beb1d2d0b879f/dep-bin-02power
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-655b8f0ad68a503d/bin-01power5
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-655b8f0ad68a503d/dep-bin-01power5
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-655b8f0ad68a503d/output-bin-01power5
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-6818412dc1da0083/dep-lib-user_lib
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-6818412dc1da0083/lib-user_lib
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-87bf8b766ee144d8/bin-03sleep
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-87bf8b766ee144d8/dep-bin-03sleep
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-87bf8b766ee144d8/output-bin-03sleep
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-8eba3121ec8fbb24/bin-02write_c
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-8eba3121ec8fbb24/dep-bin-02write_c
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-ae4b14706b918845/bin-02power7
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-ae4b14706b918845/dep-bin-02power7
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-ae4b14706b918845/output-bin-02power7
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-b5332a7b82395857/bin-01write_b
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-b5332a7b82395857/dep-bin-01write_b
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-b7e93e57ad128d67/bin-01store_fault
user/target/riscv64gc-unknown-none-elf/release/.fingerprint/user_lib-b7e93e57ad128d67/dep-bin-01store_fault
user/target/riscv64gc-unknown-none-elf/release/00hello_world
user/target/riscv64gc-unknown-none-elf/release/00hello_world.bin
user/target/riscv64gc-unknown-none-elf/release/00power3
user/target/riscv64gc-unknown-none-elf/release/00power3.bin
user/target/riscv64gc-unknown-none-elf/release/00write_a
user/target/riscv64gc-unknown-none-elf/release/00write_a.bin
user/target/riscv64gc-unknown-none-elf/release/01power5
user/target/riscv64gc-unknown-none-elf/release/01power5.bin
user/target/riscv64gc-unknown-none-elf/release/01store_fault
user/target/riscv64gc-unknown-none-elf/release/01store_fault.bin
user/target/riscv64gc-unknown-none-elf/release/01write_a
user/target/riscv64gc-unknown-none-elf/release/01write_a.bin
user/target/riscv64gc-unknown-none-elf/release/01write_b
user/target/riscv64gc-unknown-none-elf/release/01write_b.bin
user/target/riscv64gc-unknown-none-elf/release/02power
user/target/riscv64gc-unknown-none-elf/release/02power.bin
user/target/riscv64gc-unknown-none-elf/release/02power7
user/target/riscv64gc-unknown-none-elf/release/02power7.bin
user/target/riscv64gc-unknown-none-elf/release/02write_c
user/target/riscv64gc-unknown-none-elf/release/02write_c.bin
user/target/riscv64gc-unknown-none-elf/release/03sleep
user/target/riscv64gc-unknown-none-elf/release/03sleep.bin
user/target/riscv64gc-unknown-none-elf/release/deps/00hello_world-06ab02e610527734
user/target/riscv64gc-unknown-none-elf/release/deps/00power3-0a54e2d9ff9fddef
user/target/riscv64gc-unknown-none-elf/release/deps/00write_a-2e75ff72e4575b04
user/target/riscv64gc-unknown-none-elf/release/deps/01power5-655b8f0ad68a503d
user/target/riscv64gc-unknown-none-elf/release/deps/01store_fault-b7e93e57ad128d67
user/target/riscv64gc-unknown-none-elf/release/deps/01write_a-13726c21e4a144db
user/target/riscv64gc-unknown-none-elf/release/deps/01write_b-b5332a7b82395857
user/target/riscv64gc-unknown-none-elf/release/deps/02power-642beb1d2d0b879f
user/target/riscv64gc-unknown-none-elf/release/deps/02power7-ae4b14706b918845
user/target/riscv64gc-unknown-none-elf/release/deps/02write_c-8eba3121ec8fbb24
user/target/riscv64gc-unknown-none-elf/release/deps/03sleep-87bf8b766ee144d8
user/target/riscv64gc-unknown-none-elf/release/deps/libuser_lib-6818412dc1da0083.rlib
user/target/riscv64gc-unknown-none-elf/release/deps/libuser_lib-6818412dc1da0083.rmeta
